@charset "utf-8"; 
/*
    GGAC SUB STYLE
    WRITER :Lee Jeonghee
	Last Modify Date :2025. 07. 17.
*/

/* base */
@font-face { 
    font-family:'Pretendard'; 
    src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff'); 
    font-weight:300; 
    font-display:swap; 
}
@font-face { 
    font-family:'Pretendard'; 
    src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); 
    font-weight:400; 
    font-display:swap; 
}
@font-face { 
    font-family:'Pretendard'; 
    src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff'); 
    font-weight:500; 
    font-display:swap; 
}
@font-face { 
    font-family:'Pretendard'; 
    src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff'); 
    font-weight:700; 
    font-display:swap; 
}
@font-face { 
    font-family:'Pretendard'; 
    src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff'); 
    font-weight:900; 
    font-display:swap; 
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {  margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; }
input, select, textarea, button {  margin:0; padding:0; font-size:100%; }
em, address {  font-style:normal; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {  display:block; }

html {  position:relative; font-size:62.5%; }
body {  font-size:1.6rem; font-weight:400; line-height:1.3; font-family:'Pretendard', '맑은 고딕','Malgun Gothic','돋움','dotum','sans-serif'; -webkit-text-size-adjust:none; text-size-adjust:none; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary, picture {  display:block; }
audio, canvas, progress, video {  display:inline-block; }
ol li::marker, 
ul li::marker {  color:transparent; }
legend {  position:absolute; left:0; top:0; width:1px; height:1px; text-indent:-10000px; overflow:hidden; }
button, input {  border-radius:0; color:inherit; }
input, select, textarea, pre {  vertical-align:middle; color:inherit; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; font-family:'Pretendard'; }
h1, h2, h3, h4, h5, h6 {  font-size:1em; }
h1 img, h2 img, h3 img,	h4 img, h5 img, h6 img {  margin:0; }
img, fieldset { border:0 none; }
img {  max-width:100%; vertical-align:middle; border:0 none; margin:0; padding:0; object-fit:cover; }
hr {  display:none; margin:0; padding:0; border:0; }
input[type="button"],
input[type="submit"],
input[type="reset"],
button {  text-transform:none; vertical-align:middle; border:0 none; background-color:transparent; color:inherit; cursor:pointer; font-family:'Pretendard'; }
a {  color:#000; text-decoration:none; }
a:link, a:visited {  text-decoration:none; }
a:hover, a:focus, a:active {  text-decoration:none; }
a img {  border:0; padding:0; }
:focus, input:focus, button:focus, select:focus {  outline:2px dashed #000; }
table {  margin:0; border-collapse:collapse; border-spacing:0; }
table caption {  overflow:hidden; left:0; right:0; width:1px; height:1px; margin-left:-10rem; text-indent:-10rem; }
@media all and (max-width:720px) {  
    html {  font-size:50%; }
}

.hide {  display:none !important; }
:root { 
    --mColor:#3734a9; 
    --sColor1:#f6faff; 
    --sColor2:#113ca1; 
    --pColor:#d5145a; 
    --gray:#dcdcdc; 
}
#wrap { max-width:720px; margin:0 auto; background:var(--sColor1); }
#container { overflow:hidden; padding:0 5% 2rem; }
.header { padding:3rem 0 2.5rem; box-sizing:border-box; border-bottom:1px solid var(--line); }
.header h1 { font-size:2.75rem; font-weight:700; text-align:center; }
.header h1 .hint { display:block; margin-top:1rem; }
.header h1 .hint i { display:block; position:relative; font-style:normal; font-size:1.875rem; font-weight:500; letter-spacing:-.025em; color:#333; }
.credit { display:flex; justify-content:flex-end; align-items:center; gap:.75rem; }
.credit .pill { display:inline-block; padding:0 1.125rem; font-style:normal; font-size:1.5rem; font-weight:300; line-height:2.25rem; letter-spacing:-.025em; color:#555; background:#fff; border:1px solid var(--mColor); border-radius:4em; }
.credit p { font-size:1.625rem; font-weight:300; letter-spacing:-.025em; color:#555; }
.credit p b {  font-weight:500; }
.secTit { display:block; font-size:2rem; font-weight:700; letter-spacing:-.025em; margin-bottom:1.5rem; }
.card { margin:1.25rem 0; padding:2.25rem; background:#fff; border-radius:1rem; box-shadow:0 0 10px rgba(0, 0, 0, .12); }
.credit + .card { margin-top:2.5rem; }
.card input,
.card select { display:block; width:100%; height:4.75rem; line-height:4.75rem; padding:0 1rem; font-size:1.75rem; border:1px solid var(--gray); border-radius:.5rem; box-sizing:border-box; }
.card button { display:inline-block; height:4.75rem; padding:0 1rem; font-size:1.75rem; background:var(--mColor); border-radius:.5rem; color:#fff; }
.nameBox { display:flex; gap:.5rem; }
.nameBox input { flex-grow:1; }
.nameBox button { flex-shrink:0; padding:0 2rem; background:var(--mColor); }
.hintTxt { position:relative; margin-top:1.5rem; padding-left:1.25rem; font-size:1.625rem; word-break:keep-all; color:#666; }
.hintTxt::before {  content:'※'; position:absolute; top:0; left:0; }
.noData { margin-top:1rem; padding:4rem 0; font-size:1.75rem; text-align:center; border:1px solid var(--gray); border-width:1px 0; }
.rowline .field { display:flex; align-items:center; gap:.5rem; margin-top:1rem; }
.rowline .field label { flex-shrink:0; width:6.25rem; font-size:1.75rem; }
.rowline .field label::before {  content:'· '; }
.rowline .field button { flex-shrink:0; width:5rem; }
.rowline .success { width:100%; margin-top:1rem; background:var(--mColor); }
.calrendarSet .dateBox {  display:flex; align-items:center; gap:.5rem; }
.calrendarSet .dateBox button {  flex-shrink:0; width:5rem; }
.calrendarSet .setBox { display:flex; flex-wrap:wrap; justify-content:center; gap:0 .5rem; margin-top:1rem; }
.calrendarSet .setBox button { background:#eaeaea; border:1px solid var(--gray); color:#111; }
.calrendarSet .setBox .picker-btn { padding:0 2.5rem; }
.calrendarSet .setBox .picker-btn span { display:inline-block; position:relative; padding-left:1.5rem; }
.calrendarSet .setBox .picker-btn span::before { content:''; position:absolute; top:50%; left:0; width:1rem; height:100%; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='7px' height='10px'%3E%3Cpath fill-rule='evenodd' fill='rgb(35, 35, 35)' d='M6.098,8.870 L5.310,9.594 L0.807,5.519 L0.801,5.524 L0.013,4.801 L0.801,4.078 L0.807,4.083 L5.310,0.009 L6.098,0.732 L1.601,4.801 L6.098,8.870 Z'/%3E%3C/svg%3E") no-repeat left center / contain; transform:translateY(-50%); }
.calrendarSet .setBox .primary { flex-grow:1; }
.calrendarSet .setBox .next span { padding-left:0; padding-right:1.5rem; }
.calrendarSet .setBox .next span::before {  left:auto; right:0; transform:translateY(-50%) rotate(180deg); }
.calrendarSet .muted { display:block; width:100%; font-size:2rem; font-weight:700; margin-top:2.5rem; text-align:center; letter-spacing:-.015em; color:#111; }
.week-strip { overflow-x:auto; display:flex; gap:.5rem; }
.ws-day { flex:1; min-width:14rem; padding:2rem 1rem; background:#f8f8f8; border:1px solid var(--gray); border-radius:.5rem; box-sizing:border-box; }
.ws-day .head { display:flex; align-items:center; justify-content:center; gap:.75rem; }
.ws-day .head span { line-height:2.5rem; font-size:1.75rem; font-weight:500; }
.ws-day .head span.date { background:#333; padding:0 1rem; font-size:1.5rem; border-radius:3em; color:#fff; font-weight:400; }
.ws-day .total { margin:1.5rem 0; font-size:2.75rem; font-weight:700; text-align:center; }
.ws-day .mini-badges { display:flex; flex-direction:column; flex-wrap:wrap; gap:1rem; align-items:center; }
.ws-day .mini-badges .mini-badge { display:inline-block; padding:0 1.75rem; font-style:normal; font-size:1.625rem; font-weight:500; line-height:3rem; letter-spacing:-.025em; background:#fff; border-radius:4em; }
.ws-day .mini-badges .abyss { border:1px solid #6618df; color:#6618df; }
.ws-day .mini-badges .raid { border:1px solid #df1867; color:#df1867; }
.ws-day .dot {  margin-top:1rem; }
.ws-day.active { background:var(--sColor1); border-color:var(--sColor2); }
.events .day { margin-top:3rem; }
.events .day .head h2 { font-size:2rem; }
.events .day .slots { margin-top:1rem; }
.events .day .slots .slot { border-top:1px solid var(--gray); box-sizing:border-box; }
.events .day .slots .time { padding:1rem 0; font-size:1.875rem; font-weight:500; text-align:center; background:#f8f8f8; }
.events .day .slots .event { padding:1.875rem 1.5rem; border-top:1px solid var(--gray); }
.events .day .slots .event .label { display:flex; flex-wrap:wrap; gap:.5rem; align-items:center; }
.events .day .slots .event .label .count { font-size:1.75rem; font-weight:600; margin:0 .5rem 0 1rem; }
.events .day .slots .event .titlebox { display:flex; gap:1rem; margin:1.25rem 0; font-size:1.75rem; }
.events .day .slots .event .btns { display:flex; gap:.5rem; }
.events .day .slots .event .btns button { flex:1; font-weight:500; background:#333; }
.events .day .slots .event .btns .btn-join { background:var(--pColor); color:#fff; }
.copy {  text-align:center; margin-top:2rem; color:#444; font-weight:300; letter-spacing:-.025em; }
.badge { display:inline-block; padding:0 1.5rem; font-style:normal; font-size:1.625rem; font-weight:400; line-height:2.75rem; letter-spacing:-.025em; border-radius:4em; border:1px solid; box-sizing:border-box; }

/* 카테고리/던전 색상 */
.cat-abyss { border-color:#6618df; color:#6618df; }
.cat-raid { border-color:#df1867; color:#df1867; }
.dg-mas { border-color:#008d82; color:#008d82; }
.dg-glas { border-color:#3341ff; color:#3341ff; }
.dg-succ { border-color:#ff3889; color:#ff3889; }

/* 난이도 뱃지 색 테마 (통일) */
.badge.diff { font-weight:600; }
.diff-easy { border-color:#333; color:#333; }
.diff-hard { border-color:#ed8500; color:#ed8500; }
.diff-veryhard { background:#e50c00; border-color:#e50c00; color:#fff; }
.diff-pink { background:#eb1ca8; border-color:#eb1ca8; color:#fff; }
#topWeekControls { display:none}
.badge.mine { position:relative; padding:0 2px; border:none; font-size:1.75rem; line-height:1; }